html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

ul,
li,
button {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	border: 0;
	background-color: inherit;
	color: #fff;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1470px;
}

.container-fluid {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 100%;
}

@media (max-width: 720px) {
	.container-fluid {
		padding: 0 15px;
	}
}

body {
	font-family: Roboto;
	font-weight: 500;
	margin: 0;
	background-color: #f8faff;
	color: #656565;
	font-size: 14px;
	line-height: 21px;
}

.lock {
	overflow: hidden;
}