
.burger-menu {
    display: none;
    // display: inline-block;
    position: relative;
    width: 24px;
    height: 19px;
    margin-right: 15px;
    cursor: pointer;
		// .burger__menu-link


            &::after, &::before {
                transition: all .3s;
                border-radius: 1px;
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                color: #656565;
                background-color: #656565;
                left: 0;
            }

            &::after {
                bottom: 0;
            }
            &::before {
                top: 0;
            }
            > span {
                left: 0;
                transition: all .3s;
                border-radius: 1px;
                position: absolute;
                background-color: #656565;
                width: 100%;
                height: 3px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.active {
                > span {
                    background-color: transparent;
                }
                &::before {
                    top: 50%;
                    transform: rotate(-45deg);
                }
                &::after {
                    top: 50%;
                    transform: rotate(45deg);
                }

            }

}
